@model Secretaria.Domain.DatosPersonales.Localidad
@{
    ViewData["Title"] = "Agregar Localidad";
}

<h1 class="display-4 mt-5">Nueva localidad</h1>
<form asp-controller="Localidad" asp-action="AgregarLocalidad" method="del">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="Localidad">Localidad</label>
            <input asp-for="Cadena" type="text" placeholder="Localidad" class="form-control" required/>
        </div>
    </div>
        <div>
        <input type="submit" class="btn btn-outline-primary" value="Guardar" />
        <a asp-controller="Localidad" asp-action="Index" role="button" class="btn btn-outline-secondary">Volver</a>
        </div>
</form>