@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        @*<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>*@
        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="nav-link-title">
                Administración
            </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Administracion" asp-action="Usuarios">Usuarios</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Administracion" asp-action="Roles">Roles</a>
            </li>
        </ul>
    </li>
}