@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item" >
        <a class="nav-link" asp-controller="Alumno" asp-action="Index">
            Alumnos
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span class="nav-link-title">
                Datos Personales
            </span>  
        </a>
        <div class="dropdown-menu" >
            <a class="dropdown-item" asp-controller="Localidad" asp-action="Index">Localidades</a>
            <a class="dropdown-item" asp-controller="Nacionalidad" asp-action="Index">Nacionalidades</a>
            <a class="dropdown-item" asp-controller="TipoDocumento" asp-action="Index">Tipos de Documento</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" >
            <span class="nav-link-title">
            Administración
            </span>
        </a>
        <ul class="dropdown-menu">
            <li >
                <a class="dropdown-item" asp-area="" asp-controller="Administracion" asp-action="Roles" >
                    Roles
                </a>
            </li>
            <li >
                <a class="dropdown-item" asp-area="" asp-controller="Administracion" asp-action="Usuarios" >
                    Usuarios
                </a>
            </li>
        </ul>
    </li>
}